In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("survey_results_public.csv",index_col = 'ResponseId')
scheme_df = pd.read_csv("survey_results_schema.csv", index_col = 'qname')

In [3]:
high_salary = (df['ConvertedCompYearly'] > 70000)

In [4]:
df.loc[high_salary, ['Country', 'LanguageHaveWorkedWith','ConvertedCompYearly']]

,Country,LanguageHaveWorkedWith,ConvertedCompYearly
ResponseId,,,
2,United States of America,HTML/CSS;JavaScript;Python,285000.0
3,United States of America,Bash/Shell (all shells);Go,250000.0
4,United States of America,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,156000.0
6,United Kingdom of Great Britain and Northern I...,Bash/Shell (all shells);HTML/CSS;JavaScript;Ru...,96828.0
7,United States of America,Ada;Clojure;Elixir;Go;HTML/CSS;Java;JavaScript...,135000.0
...,...,...,...
89144,United States of America,C#;HTML/CSS;JavaScript;SQL;TypeScript,90000.0
89145,Austria,Assembly;C;C++;Lisp;Perl;Python;Raku;Ruby;Scal...,128507.0
89155,United States of America,HTML/CSS;JavaScript;PHP;TypeScript;Visual Basi...,75000.0
89157,United States of America,Bash/Shell (all shells);C;C++;JavaScript;Julia,195000.0
89158,Canada,Java;Kotlin,319711.0

In [5]:
countries = ['United States of America', 'Canada']
filt = df['Country'].isin(countries)

In [6]:
filt

ResponseId
1        False
2         True
3         True
4         True
5        False
         ...
89180    False
89181    False
89182    False
89183    False
89184    False
Name: Country, Length: 89184, dtype: bool

In [7]:
filt = df['LanguageHaveWorkedWith'].str.contains('Python', na=False)
df.loc[filt, 'LanguageHaveWorkedWith']

ResponseId
2                               HTML/CSS;JavaScript;Python
8        Go;HTML/CSS;JavaScript;Python;Rust;SQL;TypeScript
10          HTML/CSS;Java;JavaScript;Python;SQL;TypeScript
11                       C#;C++;HTML/CSS;JavaScript;Python
12       C#;HTML/CSS;JavaScript;Kotlin;PowerShell;Pytho...
                               ...
89173    Bash/Shell (all shells);HTML/CSS;JavaScript;Pe...
89177    HTML/CSS;Java;JavaScript;PHP;Python;SQL;TypeSc...
89181                                 Dart;Java;Python;SQL
89182    Assembly;Bash/Shell (all shells);C;C#;Python;R...
89183    Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...
Name: LanguageHaveWorkedWith, Length: 43158, dtype: object