In [40]:
person1 = {
    'first': ['Kelvin','John', 'Shen'],
    'last': ['Jinn', 'Dave', 'Lee'],
    'email': ['example1@gmail.com', 'example2@gmail.com', 'example3@gmail.com']
}

In [41]:
import pandas as pd

In [42]:
result = pd.DataFrame(person1)

In [43]:
result

    first  last               email
0  Kelvin  Jinn  example1@gmail.com
1    John  Dave  example2@gmail.com
2    Shen   Lee  example3@gmail.com

In [44]:
result[['last', 'email']]

   last               email
0  Jinn  example1@gmail.com
1  Dave  example2@gmail.com
2   Lee  example3@gmail.com

In [45]:
#iloc=index location
result.iloc[[0,1,2],2]

0    example1@gmail.com
1    example2@gmail.com
2    example3@gmail.com
Name: email, dtype: object

In [46]:
result.loc[[0,1,2], ['email', 'last']]

                email  last
0  example1@gmail.com  Jinn
1  example2@gmail.com  Dave
2  example3@gmail.com   Lee

In [47]:
#result.set_index('email', inplace=True)
#result.loc['example1@gmail.com', 'first']
#output: 'Kelvin'

In [48]:
result.iloc[0]

first                Kelvin
last                   Jinn
email    example1@gmail.com
Name: 0, dtype: object

In [49]:
#filtering
filt = (result['last'] == 'Jinn') & (result['first'] == 'Kelvin')
result.loc[filt, 'email']

0    example1@gmail.com
Name: email, dtype: object

In [50]:
#using opposite of 'filt'
result.loc[-filt, 'email']

1    example2@gmail.com
2    example3@gmail.com
Name: email, dtype: object

In [51]:
result.columns

Index(['first', 'last', 'email'], dtype='object')

In [52]:
result.columns= [x.upper() for x in result.columns]
result

    FIRST  LAST               EMAIL
0  Kelvin  Jinn  example1@gmail.com
1    John  Dave  example2@gmail.com
2    Shen   Lee  example3@gmail.com

In [53]:
result.columns =['first name', 'last name', 'email']
result

  first name last name               email
0     Kelvin      Jinn  example1@gmail.com
1       John      Dave  example2@gmail.com
2       Shen       Lee  example3@gmail.com

In [54]:
result.columns = result.columns.str.replace(' ', '_')
result

  first_name last_name               email
0     Kelvin      Jinn  example1@gmail.com
1       John      Dave  example2@gmail.com
2       Shen       Lee  example3@gmail.com

In [55]:
result.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)
result

    first  last               email
0  Kelvin  Jinn  example1@gmail.com
1    John  Dave  example2@gmail.com
2    Shen   Lee  example3@gmail.com

In [58]:
result.loc[2] = ['John', 'Smith', 'newemail@gmail.com']
result

    first   last               email
0  Kelvin   Jinn  example1@gmail.com
1    John   Dave  example2@gmail.com
2    John  Smith  newemail@gmail.com

In [60]:
#modifying specific area
result.loc[2, 'last'] = 'Doe'
result

    first  last               email
0  Kelvin  Jinn  example1@gmail.com
1    John  Dave  example2@gmail.com
2    John   Doe  newemail@gmail.com