In [23]:
person1 = {
    'first': ['Kelvin','John', 'Shen'],
    'last': ['Jinn', 'Dave', 'Lee'],
    'email': ['example1@gmail.com', 'example2@gmail.com', 'example3@gmail.com']
}

In [24]:
import pandas as pd

In [25]:
result = pd.DataFrame(person1)

In [26]:
result

    first  last               email
0  Kelvin  Jinn  example1@gmail.com
1    John  Dave  example2@gmail.com
2    Shen   Lee  example3@gmail.com

In [29]:
result[['last', 'email']]

   last               email
0  Jinn  example1@gmail.com
1  Dave  example2@gmail.com
2   Lee  example3@gmail.com

In [35]:
#iloc=index location
result.iloc[[0,1,2],2]

0    example1@gmail.com
1    example2@gmail.com
2    example3@gmail.com
Name: email, dtype: object

In [37]:
result.loc[[0,1,2], ['email', 'last']]

                email  last
0  example1@gmail.com  Jinn
1  example2@gmail.com  Dave
2  example3@gmail.com   Lee