In [15]:
person1 = {
    'first': ['Kelvin','John', 'Shen'],
    'last': ['Jinn', 'Dave', 'Lee'],
    'email': ['example1@gmail.com', 'example2@gmail.com', 'example3@gmail.com']
}

In [16]:
import pandas as pd

In [17]:
result = pd.DataFrame(person1)

In [18]:
result

    first  last               email
0  Kelvin  Jinn  example1@gmail.com
1    John  Dave  example2@gmail.com
2    Shen   Lee  example3@gmail.com

In [19]:
result[['last', 'email']]

   last               email
0  Jinn  example1@gmail.com
1  Dave  example2@gmail.com
2   Lee  example3@gmail.com

In [20]:
#iloc=index location
result.iloc[[0,1,2],2]

0    example1@gmail.com
1    example2@gmail.com
2    example3@gmail.com
Name: email, dtype: object

In [21]:
result.loc[[0,1,2], ['email', 'last']]

                email  last
0  example1@gmail.com  Jinn
1  example2@gmail.com  Dave
2  example3@gmail.com   Lee

In [22]:
result.set_index('email', inplace=True)

In [23]:
result

                     first  last
email
example1@gmail.com  Kelvin  Jinn
example2@gmail.com    John  Dave
example3@gmail.com    Shen   Lee

In [24]:
result.loc['example1@gmail.com', 'first']

'Kelvin'

In [25]:
result.iloc[0]

first    Kelvin
last       Jinn
Name: example1@gmail.com, dtype: object

In [26]:
result.reset_index(inplace=True)
result

                email   first  last
0  example1@gmail.com  Kelvin  Jinn
1  example2@gmail.com    John  Dave
2  example3@gmail.com    Shen   Lee

In [31]:
#filtering
filt = (result['last'] == 'Jinn') & (result['first'] == 'Kelvin')
result.loc[filt, 'email']

0    example1@gmail.com
Name: email, dtype: object

In [33]:
#using opposite of 'filt'
result.loc[-filt, 'email']

1    example2@gmail.com
2    example3@gmail.com
Name: email, dtype: object